# .gitignore

# 💻 Dependencies
/node_modules
/dist

# ⚙️ Vite / Build Artifacts
.env
.env.local
.vscode
.cache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
package-lock.json

# 🖥️ OS and Editor Files
.DS_Store
Thumbs.db